* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#page1 {
    background: radial-gradient(circle at 30% 50%, #1a1a1a 0%, #0a0a0a 100%);
    width: 100%;
    height: 100%;
    position: relative;

    #nav {
        background-color: transparent;
        height: 80px;
        width: 100%;
        display: flex;

        #logo {
            color: #068e95;
            padding: none;
            font-size: 35px;
            margin-top: 20px;
            margin-left: 30px;
        }

        #innernav {
            background-color: transparent;
            width: 70%;
            height: 80px;
            margin-left: 150px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            h1 {
                color: #068e95;
                font-size: 20px;
                transition: all ease 0.5s;
                cursor: pointer;
            }

            h1:hover {
                text-decoration: underline;
            }

            img {
                filter: invert(41%) sepia(87%) saturate(583%) hue-rotate(134deg) brightness(89%) contrast(96%);
                height: 35px;
                transition: all ease 0.5s;
            }

            img:hover {
                cursor: pointer;
                scale: 1.1;
            }
        }
    }

    #para1 {
        height: 400px;
        width: 700px;
        padding: 30px;
        margin-top: 150px;
        margin-left: 100px;
        position: absolute;

        h2 {
            color: #068e95;
            font-size: 25px;
            margin-bottom: 8px;
        }

        h1 {
            color: #ffffff;
            font-size: 60px;
            margin-bottom: 8px;

            span {
                color: #068e95;
            }
        }

        #border {
            background: linear-gradient(to right, #068e95 40%, #068e95 30%, transparent);
            height: 5px;
            border-radius: 50px;
            width: 400px;
            margin-bottom: 8px;
        }

        p {
            color: #ffffff;
            font-size: 20px;
            line-height: 1;
            width: 600px;
        }
    }

    #card1 {
        height: 450px;
        width: 300px;

        position: absolute;
        margin-left: 1050px;
        margin-top: 125px;
        border-radius: 40px;

        box-shadow:
            35px 35px 40px rgba(0, 194, 203, 0.3),
            0 0 50px rgba(0, 194, 203, 0.3);
        background-image: url('../page1_img.jpg');
        background-blend-mode: multiply;
        filter: brightness(0.85) contrast(1.2) hue-rotate(10deg) saturate(0.8);
        filter: sepia(1) hue-rotate(145deg) saturate(3) brightness(0.8) contrast(1.1);
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border: 1px solid rgba(0, 194, 203, 0.3);
    }
}


#page2 {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 30% 50%, #1a1a1a 0%, #0a0a0a 100%);
    position: relative;

    #para1 {
        height: 400px;
        width: 700px;
        padding: 30px;
        margin-top: 150px;
        margin-left: 100px;
        position: absolute;

        h2 {
            font-size: 25px;
            margin-bottom: 8px;
            color: #068e95;
        }

        h1 {
            font-size: 60px;
            margin-bottom: 8px;
            color: #ffffff;

            span {
                color: #068e95;
            }
        }

        #border {
            background: linear-gradient(to right, #068e95 40%, #068e95 30%, transparent);
            height: 5px;
            border-radius: 50px;
            width: 400px;
            margin-bottom: 8px;

        }

        p {
            color: #ffffff;
            font-size: 20px;
            line-height: 1;
            width: 600px;
        }

        button {
            padding: 8px 15px;
            border-radius: 50px;
            border: 2px solid black;
            margin-top: 38px;
            transition: all ease 0.5s;
            cursor: pointer;
            background-color: #068e95;
        }
    }

    .sidebox {
        height: 200px;
        width: 200px;
        background-color: coral;
        position: absolute;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background: linear-gradient(145deg, #1a1d21, #121519);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

        img {
            height: 80px;
            margin-bottom: 10px;
            filter: invert(41%) sepia(87%) saturate(583%) hue-rotate(134deg) brightness(89%) contrast(96%);
        }

        h3 {
            color: #a0a0a0;
            margin-bottom: 10px;
        }

        p {
            color: #a0a0a0;
            font-size: 12px;
        }
    }

    #sidebox1 {
        margin-left: 900px;
        margin-top: 120px;
    }

    #sidebox2 {
        margin-left: 1130px;
        margin-top: 170px;
    }

    #sidebox3 {
        margin-left: 900px;
        margin-top: 350px;
    }

    #sidebox4 {
        margin-left: 1130px;
        margin-top: 400px;
    }
}

#page3 {
    height: 100%;
    background: radial-gradient(circle at 30% 50%, #1a1a1a 0%, #0a0a0a 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    #main-img-page3 {
        height: 500px;
        width: 400px;
        object-fit: cover;
        clip-path: inset(0 0 7% 0);
        border-radius: 15px;
        filter: grayscale(100%) brightness(0.9) contrast(1.05);
        backdrop-filter: blur(20px);
        mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    }

    #para1 {
        display: block;
        height: 530px;
        max-width: 700px;
        padding: 30px;
        margin-top: 50px;
        margin-left: 250px;
        position: relative;
        display: block;

        h2 {
            font-size: 25px;
            margin-bottom: 8px;
            color: #068e95;
        }

        h1 {
            color: #ffffff;
            font-size: 60px;
            margin-bottom: 8px;

            span {
                color: #068e95;
            }
        }

        #border {
            background: linear-gradient(to right, #068e95 40%, #068e95 30%, transparent);
            height: 5px;
            border-radius: 50px;
            width: 400px;
            margin-bottom: 8px;
        }

        #pty {
            color: #ffffff;
            font-size: 20px;
            line-height: 1;
            width: 600px;
        }

        #page3-para-blocks {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .parablocks {
                height: 200px;
                width: 200px;
                background-color: coral;
                text-align: center;
                padding: 10px;
                background: linear-gradient(145deg, #1a1d21, #121519);
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

                img {
                    height: 80px;
                    margin-bottom: 10px;
                    filter: invert(41%) sepia(87%) saturate(583%) hue-rotate(134deg) brightness(89%) contrast(96%);
                }

                h3 {
                    color: #a0a0a0;
                    margin-bottom: 10px;
                }

                p {
                    color: #a0a0a0;
                    font-size: 12px;

                }
            }
        }
    }
}